
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
  --black:hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --highlight:rgba(205, 255, 3, 1);
  --trial: hsl(180, 100%, 50%);
  --transparent: rgba(255, 255, 255, 0);
}


*{
  margin: 0;
  /* background-color: var(--black); */
  font-family: inter;
}


/* 
.navBar {
  margin: 0vh 10vh;
  transition: background-color 0.3s ease-in-out, margin 0.5s ease-in-out; 
}

.navBar.scrolled {
  margin: 5vh 30vh;
  position: sticky;
  top: 1vh;
  z-index: 1000;
  background-color: var(--transparent);
  border-radius: 10vh;
  


}



.navElements{
  padding: 1vh 0;
  display: flex;
  justify-content: space-between;
  
}

.navElements.scrolled{
  
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;

  border-radius: 10vh;

}

#logo{
  margin-left: 4vh;
  background-color: var(--transparent);

}

#logo a{
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
  font-size: 7vh;
  letter-spacing: -2%;
  background-color: var(--transparent);

}

#logo a span{
  color: var(--highlight);
  background-color: var(--transparent);

}

.navItems{
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: var(--transparent);

}

.navItems a {
  text-decoration: none;
  font-weight: 700;
  font-size: 3vh;
  padding: 1vh;
  margin: 0 2vh;
  color: var(--white);
  background-color: var(--transparent);

}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4vh;
  background-color: var(--transparent);

}

.start button {

  background-color: var(--highlight);
  border: none;
  font-weight: 700;
  font-size: 3vh;
  padding: 1.5vh 3vh;
  border-radius: 10vh;
} */






.cardBody{
  
  height: 400px;
  width: 400px;
  border: 2px solid var(--white);
  border-radius: 30px;
  margin: 5vh;
  
}

.cardText{
  color: var(--white);
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid crimson; */
}

.cardImg{
  height: auto;
  width: 380px;
}

.cardImg img{
  height: 100%;
  width: 100%;
}