
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
  margin: 0;
  background-color: black;
  font-family: inter;
}

.cardBody{
  
  height: 400px;
  width: 400px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
















  
}

.cardText{
  color: white;
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid crimson; */
}

.cardImg{
  height: auto;
  width: 380px;
}

.cardImg img{
  height: 100%;
  width: 100%;
}